.background{
    position: fixed;
    background-image: url('../img/2.png');
    z-index: -2;
    background-repeat:no-repeat;
    background-clip: border-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    top:0%;
    bottom: 0%;
    left:0%;
    right: 0%;
}
.upk123{
    position: fixed;
    top:0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
}
h1{
    position: fixed;
    top:calc(50% - 45px);
    bottom:calc(50% - 45px);
    left: 0%;
    right: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}