.card {
  background: transparent !important;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  cursor: pointer;
}

.card__white {
  border: 1px solid rgba(0,0,0, .1) !important;
}

.card__white:hover {
  border: 1px solid rgba(0,0,0, .2) !important;
}

.card__dark {
  border: 1px solid rgba(255,255,255, .1) !important;
}

.card__dark:hover {
  border: 1px solid rgba(255,255,255, .2) !important;
}