.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 12px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.footer-item-1 {
  grid-area: a;
}
.footer-item-2 {
  grid-area: b;
}
.footer-item-3 {
  grid-area: c;
}
.footer-item-4 {
  grid-area: d;
}
.copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.7;
}
.footer-item {
  justify-content: center;
  display: flex;
}

.container {
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas:
    'a b'
    'c d';
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  max-width: 100%;
  width: 90%;
  z-index: 2;
}
footer {
  padding: 0;
  z-index: 99;
}