/* Submenu */
.submenu__highlight {
  font-weight: 700;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 7px;
}

.submenu__inner :global(.tabs),
.submenu__inner :global(header) {
  height: 100%;
  border: none;
}

.submenu__inner :global(.tab) {
  height: calc(100% - 2px);
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.875rem;
}
.submenu__inner {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  height: 48px;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  box-sizing: border-box;
}
.submenu__wrapper {
  height: 48px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.submenu--sticky {
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  left: 0;
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);
  transition: box-shadow 0s ease;
}
