.navigation-clean {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover,
.navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active,
.navigation-clean.navbar-light .navbar-nav .nav-link.active:focus,
.navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus,
.navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
  display: flex;
  align-items: center;
}

.navigation-clean .dropdown-menu .dropdown-item:focus,
.navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean-search {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .search-form {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active,
.navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active,
.navigation-clean-search.navbar-light .navbar-nav a.active:focus,
.navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover,
.navigation-clean-search .action-button:focus {
  background: #66d7d7;
}

.navigation-clean-search .search-form label {
  color: #ccc;
}

.navigation-clean-search .search-form .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width: 767px) {
  .navigation-clean-search .search-form .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .search-form .search-field:focus {
  border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* MENU */

.theme-button-icon {
  color: #000 !important;
}

.theme-button-cyan {
  border: 1px solid #00eab5 !important;
}
.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  background: green;
}

/* Submenu */
.submenu__highlight {
  font-weight: 700;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 7px;
}

.submenu__inner :global(.tabs),
.submenu__inner :global(header) {
  height: 100%;
  border: none;
}

.submenu__inner :global(.tab) {
  height: calc(100% - 2px);
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.875rem;
}
.submenu__inner {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  height: 48px;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  box-sizing: border-box;
}
.submenu__wrapper {
  height: 48px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.submenu_sticky {
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  left: 0;
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);
  transition: box-shadow 0s ease;
}
