.slide-background {
  position: sticky;
  padding-top: 45px;
  top: 0;
  z-index: 0;
}
.slide-page {
  margin-top: -80vh !important;
}
.slide-content {
  z-index: 1;
}
.slide-card-left {
  float: left;
}
.slide-card-right {
  float: right;
}
.slide-topic {
  display: inline-flex;
}
.slide-info {
  display: flex;
}
.under-development {
  position: sticky;
  top: 0;
  height: 100px;
}
