.slide-background {
  position: sticky;
  padding-top: 45px;
  top: 0;
  z-index: 0;
}
.slide-page {
  margin-top: -80vh !important;
}
.slide-content {
  z-index: 1;
}

.slide-card {
  margin: 20px !important;
  padding: 10px !important;
  width: 40% !important;
  border-radius: 14px !important;
  background-color: transparent !important;
  backdrop-filter: blur(2em);
  border: 1px solid rgb(92, 90, 90) !important;
}
.slide-card-left {
  float: left;
}
.slide-card-right {
  float: right;
}
.slide-topic {
  display: inline-flex;
}
.slide-info {
  display: flex;
}
.under-development {
  position: sticky;
  top: 0;
  height: 100px;
}
