.slide-background {
  position: sticky;
  padding-top: 45px;
  top: 0;
  z-index: 0;
}
.slide-page {
  margin-top: -80vh !important;
}
.slide-content {
  z-index: 1;
}

.slide-card {
  margin: 20px !important;
  padding: 10px !important;
  width: 40% !important;
  border-radius: 14px !important;
  background-color: transparent !important;
  backdrop-filter: blur(2em);
  border: 1px solid rgb(92, 90, 90) !important;
}
.slide-card-left {
  float: left;
}
.slide-card-right {
  float: right;
}
.slide-topic {
  display: inline-flex;
}
.slide-info {
  display: flex;
}
.breath {
  animation: breath 4s ease-out infinite normal;
}
.under-development {
  position: sticky;
  top: 0;
  height: 100px;
}
.text-white {
  color: white !important;
}
@keyframes breath {
  0% {
    transform: translateY(0) size(1);
  }

  25% {
    transform: translateY(-4px) size(1);
  }

  60% {
    transform: translateY(-6px) scale(1.02);
  }

  100% {
    transform: translateY(-10px) size(1);
  }
}
